resources/data/autobot_responses.txt
resources/data/approved_streamers.txt
resources/*.properties
resources/data/custom_shoutout_messages.txt
.DS_Store
*.pyc
*.bak
resources/data/mons/caughtmons*.txt
