# channel properties
bot.username=
channel.name=
client_id=
client_secrets=
channel.mod_permissions_list=

# db properties
db.host=
db.db_name=
db.user=
db.password=
db.port=

# twitch irc server properties
server.url=irc.chat.twitch.tv
server.port=6667

# custom properties
auto_shoutout_users_file=
custom_shoutouts_file=
hype.message=
ignored_users_list=nightbot,streamelements
restricted_users_list=
queue_names_list=
auto_bot_responses_file=
