# channel properties
bot.username=
channel.name=
client_id=
client_secrets=
channel.mod_permissions_list=

# db properties
db.host=
db.db_name=
db.user=
db.password=
db.port=

# twitch irc server properties
server.url=irc.chat.twitch.tv
server.port=6667

# custom properties
auto_shoutout_users_file=
custom_shoutouts_file=
ignored_users_list=nightbot,streamelements
restricted_users_list=
queue_names_list=
auto_bot_responses_file=

# flowermons file
flowermons.enabled=false
flowermons.filename=
flowermons.user_data_filename=
flowermons.subs_only_mode=false
flowermons.default_pokeball_limit=3
flowermons.subs_pokeball_limit=10
