# channel properties and details
bot.username=
channel.name=
client_id=
client_secrets=
channel.mod_permissions_list=
server.url=irc.chat.twitch.tv
server.port=6667

# db properties
db.host=
db.db_name=
db.user=
db.password=
db.port=
